<h3>First_Name :</h3><p><%= @users.prenom %></p>
<h3>Last_name :</h3><p><%= @users.nom %></p>
<h3>Description :</h3><p><%= @users.description %></p>
<h3>Email :</h3><p><%= @users.email %></p>
<h3>Age :</h3><p><%= @users.age %></p>

<p><a href="<%=users_path %>"class="btn btn-primary">Return To Author</a></p>